img {
  height: 255px;
  width: 230px;
}

.groupProject {
  height: 255px;
  width: 230px;
}


#demoButton {
  width: 100px;
  height: 40px;
  font-size: 14px;
  border: none;
  background-color: #d1d1d1;
}

#demoButton:hover {
  cursor: pointer;
  margin-top: 5px;
  border: 2px solid #b9b9bb;
}
