img {
  height: 255px;
  width: 230px;
}

.groupProject {
  height: 255px;
  width: 230px;
}


.groupProject:hover {
  opacity: .5;
}

.textOnImage {
  color: transparent;
}

.groupProject:hover .textOnImage  {
  opacity: 1;
  position: absolute; /* Position the background text */
   bottom: 0; /* At the bottom. Use top:0 to append it to the top */
   background: rgba(0, 0, 0, 1); /* Black background with 0.5 opacity */
   color: #ffffff;
   padding: 20px; /* Some padding */
}
